server:
  port: 8081

jwt:
  secret: "5367566B59703373367639792F423F4528482B4D6251655468576D5A71347437"

spring:
  cloud:
    gateway:
      routes:
        - id: SERVICIO-AUTENTICACION
          uri: http://autenticacion-service:9292/
          predicates:
            - Path=/autenticacion/**

        - id: SERVICIO-CLINICA
          uri: http://clinica-app-service:3000
          predicates:
            - Path=/api/v1/clinica/**

        - id: SERVICIO-GENOMICA-GENES
          uri: http://django-service:8000
          predicates:
            - Path=/genes/**

        - id: SERVICIO-GENOMICA-VARIANTES-GENETICAS
          uri: http://django-service:8000
          predicates:
            - Path=/variants/**

        - id: SERVICIO-GENOMICA-REPORTES
          uri: http://django-service:8000
          predicates:
            - Path=/reports/**

      globalcors:
        corsConfigurations:
          '[/**]':
            allowedHeaders:
              - "*"
            allowCredentials: false
            allowedOrigins: "http://localhost:4200/"
            allowedMethods:
              - GET
              - POST
              - OPTIONS
              - DELETE
              - PATCH
              - PUT